{% extends "site_base.html" %}
{% block html %}
<html style="overflow: hidden;" lang="{{ LANGUAGE_CODE }}">
{% endblock %}
{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}



{% block body_base %}
    <section style="background-image: url('{{ STATIC_URL }}images/boatandsea.jpg'); background-repeat: no-repeat;background-attachment: fixed; height: 650px;" class="jumbotron">
        <div style="text-align: center" class="container">
            {% include "_messages.html" %}
            <h1 style="padding-top: 5%; color: white;">{% blocktrans %}Welcome to Psoriassist{% endblocktrans %}</h1>
            <p style="margin-top: -18px;;padding-bottom: 20px; margin-left: 10px ;color: white;">{% blocktrans %}<em>Helping you feel better</em>{% endblocktrans %}</p>
            {% if not user.is_authenticated %}
            {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
            <p style="margin-top: 80px; color: white">{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-default">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
            {% endif %}
        </div>
    </section>
{% endblock %}


