{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}
{##}
{#{% block css %}{% endblock %}#}
{#{% block js %}{% endblock %}#}

{% block styles %}
    {% include "_styles.html" %}
{% endblock %}

{% block site_nav %}

{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    {% include "_scripts.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}

{% block float_buttons %}
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red">
            <i class="fa fa-hand-paper-o"></i>
        </a>

        <ul>
            <li><a class="btn-floating red"><i class="fa fa-line-chart"></i></a></li>
            <li><a href="{% url 'psoriassist:profile' %}" class="btn-floating yellow darken-1"><i class="fa fa-users"></i></a></li>
            <li><a href="{% url 'psoriassist:doctor' %}" class="btn-floating green"><i class="fa fa-stethoscope"></i></a></li>
            <li><a href="{% url 'psoriassist:medicine' %}" class="btn-floating blue"><i class="fa fa-medkit"></i></a></li>
            <li><a href="{% url 'psoriassist:index' %}" class="btn-floating purple"><i class="fa fa-comments"></i></a></li>
        </ul>
    </div>
{% endblock %}