.selected{
    fill: red;
    opacity: 0.8 ;
}
svg{
    height: 350px;
}

g:hover path {
    fill: #FF8800;
    cursor: pointer;
    opacity: 0.8;

}
.wrapper{
    text-align: center;
}