#datetimepicker {
    border: 1px solid;
    width: 150px;
    height: 18px;
    color: black;
}

#datetimepicker1 {
    border: 1px solid;
    width: 150px;
    height: 18px;
    color: black;
}

.bottom {
    position: relative;
    bottom: 29px;
}

#map {
    width: 500px;
    height: 460px;
    background-color: #CCC;
    margin-top: 10px;
}

.textAbove{
    font-size: 35px;
}

.fRow {
    height: 1000px;
}

.card-wrapper .face {
    opacity: 0.7;
}
#card-1{
    height: 460px;
}
