.current-med{

    height: 150px;
    width: 200px;
    position: relative;
    bottom: 80px;
}
.current-med:hover{
    cursor: pointer;
}

.subtext{
    line-height: 1;
    font-size: 1rem;
}

.medicine_block{
    display: inline-block;
}

.card-wrapper .face {
    opacity: 0.7;
    color: #999999;
}

p{
    font-weight: 800;
}
 b{
     font-weight: 700;
 }

.weight{
    font-weight: 700;
    color: black;
}