.photo{
    display: inline-block;
}
.wrapper{
    text-align: center;
}
.body-wrapper{
    text-align: center;
}
#my_camera .hidden{
    display: none;
}

#my_camera {
    width:500px;
    height:500px;
}