.conference-call{
    position: relative;

}
.doctor{
    height: 100%;
    width: 100%;
    position: relative;
}
#my_camera{
    height: 341px;
    width: 341px;
    position: absolute;
}
.cont{
    height: 1000px;
}
.video-cont{
    margin-top: 300px;
}
