#first{
    margin: auto;
}

#second{
    margin: auto;
    -webkit-animation-delay: 2.3s;
}

.btnHolder{
    margin-left: 150px;
}
.userResponse{
    float: right;
    bottom: 49px;
    margin-top: 15%;
}

.wait {
    -webkit-animation-delay: 2.2s;
}

.waitTwo{
    -webkit-animation-delay: 6s;
}

.waitThree{
    -webkit-animation-delay: 10s;
}

.waitFour{
    -webkit-animation-delay: 18.5s;
}

.fadeOut{
    -webkit-animation-delay: 1.8s;
}
.messageHolder{
    background-color: white;
    opacity: 0.7;
    width: 60%;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border: 0px solid #000000;
}
.msg{
    margin-left: 20px;
}
p{
    font-size: 1.5em;
    color: grey;
    padding: 4%;
}
a{
    z-index: 1;
}
h2{
    padding-top: 2%;
    color: white;
}

.header-cont{
    text-align: center;
     margin-top: 110px;
    margin-bottom: 70px;
}
#pasiChart{
    padding: 2%;
}



