#first{
    margin: auto;
}

#second{
    margin: auto;
    -webkit-animation-delay: 2.3s;
}

.btn{
    float: right;
<<<<<<< HEAD
}

.wait{
    -webkit-animation-delay: 2s;
=======
>>>>>>> 0dc863c91f137a2e8e27b147aa27f8c5a6b1676c
}