#first{
    margin: auto;
}

#second{
    margin: auto;
    -webkit-animation-delay: 2.3s;
}

.btnHolder{
    margin-left: 150px;
}
.userResponse{
    float: right;
    bottom: 49px;
}

.wait {
    -webkit-animation-delay: 2.2s;
}

.waitTwo{
    -webkit-animation-delay: 6s;
}

.waitThree{
    -webkit-animation-delay: 10s;
}

.waitFour{
      -webkit-animation-delay: 18.5s;
}

.fadeOut{
    -webkit-animation-delay: 1.8s;
}
.messageHolder{
    background-color: #aa66cc;
    width:80%;
    border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
}
.msg{
    margin-left: 20px;
}
p{
    font-size: 1.5em;
}
a{
    z-index: 1;
}


