{% extends 'psoriassist/base.html' %}
{% block html %}
<html style="overflow: hidden;" lang="{{ LANGUAGE_CODE }}">
{% endblock %}
{% load staticfiles %}

{% block js %}
    <script src={% static 'js/graphs.js' %}></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href={% static 'css/graphs.css' %}>

{% endblock %}

{% block body %}
    <div style="margin-top: 60px;" id="main-container" class="cont container">
        <div class="row">
            <div class='col-md-8 col-md-offset-3'>
                <a href='{% url 'psoriassist:index' %}' style="position: relative; float: right; margin-top: 45px;" class="btn btn-success waves-effect waves-light conversation">Back to Chat</a>
                <h2 style="color: white">Progression Charts</h2>
            </div>
        </div>
        <div class="row move-it">
            <div class="col-lg-5 col-md-6 col-md-offset-3">

                <!--Rotating card-->
                <div class="card-wrapper">
                    <div id="card-1" class="card-rotating effect__click ">

                        <!--Front Side-->
                        <div class="face card-rotating__front z-depth-1">
                            <h4>Physical Lesion Progression Graph</h4>
                            <hr>

                            <div id = 'physical'>

                            </div>

                            <!--Triggering button-->
                            <a style="color: red; font-family: Roboto, sans-serif" class="rotate-btn" data-card="card-1"><i class="fa fa-repeat"> View Emotional
                                Progression Graph</i></a>
                        </div>
                        <!--/.Front Side-->

                        <!--Back Side-->
                        <div class="face card-rotating__back z-depth-1">
                            <h4>Emotional Progression Graph</h4>

{#                            <p class="card-content text-center"></p>#}
                            <hr>

                            <div id = 'emotional'>

                            </div>

                            <!--Triggering button-->
                            <a style="color: red;" class="rotate-btn" data-card="card-1"><i class="fa fa-undo"> View Physical Progression Graph</i></a>

                        </div>
                        <!--/.Back Side-->

                    </div>
                </div>
                <!--/.Rotating card-->

            </div>
        </div>
    </div>
{% endblock %}