{% extends 'psoriassist/base.html' %}
{% load staticfiles %}

{% block js %}

    <script src={% static 'js/medication.js' %}></script>

{% endblock %}

{% block css %}
    <link rel="stylesheet" href={% static 'css/medication.css' %}>
{% endblock %}

{% block body %}
    <div id="main-container" class="container">
        <div class="row">
            <a href='{% url 'psoriassist:index' %}' style="float: right; margin-top: 45px;" class="btn btn-success waves-effect waves-light conversation">Back to Chat</a>
            <div class="col-md-12 col-md-offset-3">
                <h2 style="color:white; position: relative; bottom: 20px;"><b>Current Medication</b></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-6 col-md-offset-3">

                <!--Rotating card-->
                <div class="card-wrapper">
                    <div id="card-1" class="card-rotating effect__click ">

                        <!--Front Side-->
                        <div class="face card-rotating__front z-depth-1">
                            <div class="card-up">
                                <img src="{% static 'images/cosentyx.jpg' %}" class="img-responsive">
                            </div>
                            <h5 class="weight"><b>Date started:</b> 15/2/16</h5>
                            <h5 class="weight"><b>Prescription info:</b> 300 mg by injection once a week for four weeks</h5>

                            <!--Triggering button-->
                            <a class="rotate-btn " data-card="card-1"><i class="fa fa-repeat"> Click here to
                                rotate</i></a>
                        </div>
                        <!--/.Front Side-->

                        <!--Back Side-->
                        <div class="face card-rotating__back z-depth-1">
                            <h4 class = 'weight'>Medication Ratings</h4>

                            <p class="card-content text-center weight">For Cosentyx</p>
                            <hr>
                            <br> <b class="weight">Treatment effectiveness:</b>
                            <br>

                            <p style="color:orange;">7.8/10</p>
                            <br>
                            <br> <b class="weight">Average emotional wellness while on treatment</b>
                            <br>

                            <p style="color:green"> 8.7/10</p>
                            <br>
                            <br> <b class="weight">Adherence score</b>
                            <br>

                            <p style="color:green">8.5/10</p>

                            <!--Triggering button-->
                            <a class="rotate-btn " data-card="card-1"><i class="fa fa-undo"> Click here to rotate
                                back</i></a>

                        </div>
                        <!--/.Back Side-->

                    </div>
                </div>
                <!--/.Rotating card-->

            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-md-offset-3">
                <h1 style="position: relative;"><b>Past Medications</b></h1>
            </div>
        </div>

        <div class='row'>
            <div class="col-md-4">
                <!--Image Card-->
                <div class="card-wrapper">
                    <div id="card-2" class="card-rotating effect__click ">

                        <!--Front Side-->
                        <div class="face card-rotating__front z-depth-1">
                            <div class="card-up">
                                <img src="{% static 'images/dovonex.jpg' %}" class="img-responsive">
                            </div>
                            <p class="weight"><b>Date started:</b> 14/5/15</p>

                            <p class="weight"><b>Prescription info:</b> Apply a thin layer of Dovonex cream to the affected area. Do
                                not use two doses at once</p>

                            <!--Triggering button-->
                            <a class="rotate-btn" data-card="card-2"><i class="fa fa-repeat"> Click here to
                                rotate</i></a>
                        </div>
                        <!--/.Front Side-->

                        <!--Back Side-->
                        <div class="face card-rotating__back z-depth-1">
                            <h4 class="weight">Medication Ratings</h4>

                            <p class="card-content text-center weight">For Dovonex</p>
                            <hr>
                            <br> <b class="weight">Treatment effectiveness:</b>
                            <br>

                            <p style="color:orange;">5.6/10</p>
                            <br>
                            <br> <b class="weight">Average emotional wellness while on treatment</b>
                            <br>

                            <p style="color:red"> 2.9/10</p>
                            <br>
                            <br> <b class="weight">Adherence score</b>
                            <br>

                            <p style="color:green">7.5/10</p>

                            <!--Triggering button-->
                            <a class="rotate-btn" data-card="card-2"><i class="fa fa-undo"> Click here to rotate
                                back</i></a>

                        </div>
                        <!--/.Back Side-->

                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <div class="card-wrapper">
                    <div id="card-3" class="card-rotating effect__click ">

                        <!--Front Side-->
                        <div class="face card-rotating__front z-depth-1">
                            <div class="card-up">
                                <img src="{% static 'images/Silkis.jpg' %}" class="img-responsive">
                            </div>
                            <p class="weight"><b class="weight">Date started:</b> 14/3/15</p>

                            <p class="weight"><b class="weight">Prescription info:</b> Ointment should be applied to the psoriasis affected areas
                                twice per day. Not more than 30 g of ointment should be used per day</p>

                            <!--Triggering button-->
                            <a class="rotate-btn" data-card="card-3"><i class="fa fa-repeat"> Click here to
                                rotate</i></a>
                        </div>
                        <!--/.Front Side-->

                        <!--Back Side-->
                        <div class="face card-rotating__back z-depth-1">
                            <h4 class="weight">Medication Ratings</h4>

                            <p class="card-content text-center weight">For Silkis</p>
                            <hr>
                            <br> <b class="weight">Treatment effectiveness:</b>
                            <br>

                            <p style="color:red;">2.8/10</p>
                            <br>
                            <br> <b class="weight">Average emotional wellness while on treatment</b>
                            <br>

                            <p style="color:red"> 3.7/10</p>
                            <br>
                            <br> <b class="weight">Adherence score</b>
                            <br>

                            <p style="color:darkred">1.5/10</p>

                            <!--Triggering button-->
                            <a class="rotate-btn" data-card="card-3"><i class="fa fa-undo"> Click here to rotate
                                back</i></a>

                        </div>
                        <!--/.Back Side-->

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-wrapper">
                    <div id="card-4" class="card-rotating effect__click ">

                        <!--Front Side-->
                        <div class="face card-rotating__front z-depth-1">
                            <div class="card-up">
                                <img src="{% static 'images/Eumovate.jpg' %}" class="img-responsive">
                            </div>
                            <p class="weight"><b>Date started:</b> 13/5/14</p>

                            <p class="weight"><b>Prescription info:</b> Apply thinly and gently rub in using only enough to
                                cover the entire affected area once or twice a day until improvement occurs</p>

                            <!--Triggering button-->
                            <a class="rotate-btn" data-card="card-4"><i class="fa fa-repeat"> Click here to
                                rotate</i></a>
                        </div>
                        <!--/.Front Side-->

                        <!--Back Side-->
                        <div class="face card-rotating__back z-depth-1">
                            <h4 class="weight">Medication Ratings</h4>

                            <p class="card-content text-center weight">For Eumovate</p>
                            <hr>
                            <br> <b class="weight">Treatment effectiveness:</b>
                            <br>

                            <p style="color:lime;">9.8/10</p>
                            <br>
                            <br> <b class="weight">Average emotional wellness while on treatment</b>
                            <br>

                            <p style="color:darkred"> 1.7/10</p>
                            <br>
                            <br> <b class="weight">Adherence score</b>
                            <br>

                            <p style="color:orange">5.5/10</p>

                            <!--Triggering button-->
                            <a class="rotate-btn" data-card="card-4"><i class="fa fa-undo"> Click here to rotate
                                back</i></a>

                        </div>
                        <!--/.Back Side-->

                    </div>
                </div>
                <!--Image Card-->
            </div>

        </div>
    </div>

{% endblock %}

