{% extends 'psoriassist/base.html' %}
{% load staticfiles %}
{% block html %}
<html style="overflow: hidden;" lang="{{ LANGUAGE_CODE }}">
{% endblock %}
{% block css %}
    <link rel="stylesheet" href={% static 'css/profile.css' %}>
{% endblock %}


<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="wrapper">
                <div class="col-md-6 col-md-offset-3">

                    <div  class="card hovercard">
                        <div class="cardheader">

                        </div>
                        <div class="avatar">
                            <img alt="" src="{% static 'images/micah1.jpg' %}">
                        </div>
                        <div class="info">
                            <div class="title">
                                <a target="_blank" href="http://scripteden.com/">Miicah Lehman</a>
                            </div>
                            <div class="desc">Birthday: 25th May 1993</div>
                            <div class="desc"><i class="loc-icon fa fa-map-marker"></i>  Tel Aviv</div>
                            <div class="desc">Tech geek</div>
                        </div>
                        <div class="bottom">
                            <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="btn btn-danger btn-sm" rel="publisher"
                               href="https://plus.google.com/+ahmshahnuralam">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a class="btn btn-primary btn-sm" rel="publisher"
                               href="https://plus.google.com/shahnuralam">
                                <i class="fa fa-facebook"></i>
                            </a>

                        </div>
                        <h4>Recent Activity</h4>
                        <div class="user-info">
                            <div class="row">

                                <div class="col-md-12">
                                    <i class="icon fa fa-commenting"></i>
                                    <p class="profile-text">Micah commented on the forum post about new Psoriasis treatments</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <i class="icon fa fa-thumbs-up"></i>
                                    <p class="profile-text">Micah liked Marion's new photo</p>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>



{% endblock %}