{% extends 'psoriassist/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href={% static 'css/profile.css' %}>
{% endblock %}


<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="wrapper">
                <div class="col-md-6 col-md-offset-3">

                    <div  class="card hovercard">
                        <div class="cardheader">

                        </div>
                        <div class="avatar">
                            <img alt="" src="{% static 'images/micah1.jpg' %}">
                        </div>
                        <div class="info">
                            <div class="title">
                                <a target="_blank" href="http://scripteden.com/">Miicah Lehman</a>
                            </div>
                            <div class="desc">Passionate designer</div>
                            <div class="desc">Curious developer</div>
                            <div class="desc">Tech geek</div>
                        </div>
                        <div class="bottom">
                            <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="btn btn-danger btn-sm" rel="publisher"
                               href="https://plus.google.com/+ahmshahnuralam">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a class="btn btn-primary btn-sm" rel="publisher"
                               href="https://plus.google.com/shahnuralam">
                                <i class="fa fa-facebook"></i>
                            </a>

                        </div>
                        <hr>
                        <div class="user-info">
                            <div class="row">
                                <div class="col-md-1">
                                    <i class="icon fa fa-commenting"></i>
                                </div>
                                <div class="col-md-11">
                                    <p class="profile-text">Micah commented on the forum post about new Psoriasis treatments</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-1">
                                    <i class="icon fa fa-thumbs-up"></i>
                                </div>
                                <div class="col-md-11">
                                    <p class="profile-text">Micah commented on the forum post about new Psoriasis treatments</p>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>



{% endblock %}