{% extends 'psoriassist/base.html' %}

{% load staticfiles %}
{% block styles %}
    <link rel="stylesheet" href={% static 'css/site_nav.css' %}>
{% endblock %}

{% block site_nav %}

    <div class="container">
        <div class="row">
            <div class=col-md-10>
                <div class="col-md-6">
                    <div class="verticalc board card-panel">
                        <span class="verticalcenter blue-text text-darken-2">My Medication</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="board card-panel">
                        <span class="verticalcenter blue-text text-darken-2">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="board card-panel">
                        <span class="verticalcenter blue-text text-darken-2">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="board card-panel">
                        <span class="verticalcenter blue-text text-darken-2">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.</span>
                    </div>
                </div>
            </div>
            </div>

        </div>



{% endblock %}