{% extends 'psoriassist/base.html' %}
{% load staticfiles %}
{% block js %}
    <script src={% static 'js/webcam.js' %}></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href={% static 'css/take_photo.css' %}>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="camera-cont hidden">
                <div class="col-md-4">
                    <div class="photo" id="my_camera" style="width:500px; height:450px;"></div>
                    <div id="pre_take_buttons">
                        <a class="take-photo btn btn-warning btn-rounded waves-effect waves-light"
                           onclick="preview_snapshot()">Take Snapshot</a>
                    </div>
                    <form>
                        <div id="post_take_buttons" style="display:none">
                            <a class="take-photo btn btn-warning btn-rounded waves-effect waves-light"
                               onclick="cancel_preview()">Take Another</a>
                            <a class="take-photo btn btn-warning btn-rounded waves-effect waves-light"
                               onclick="save_photo()">Save Photo</a>
                            {% for message in messages %}
                                {% if messages %}
                                    <p>{{ message }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </form>
                    <div style="width:500px; height:450px;" class=" photo" id="my_result">
                    </div>
                </div>
            </div>
        </div>
        <div class="body-cont">
            <div class="row">
                <div class="body-wrapper">
                    <h4 class="header">Where on your body would you like to take a photo?</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {% include 'psoriassist/body_svg.html' %}
                </div>
            </div>
        </div>




    </div>



    <script language="JavaScript">


        function take_snapshot() {
            Webcam.snap(function (data_uri) {
                document.getElementById('my_result').innerHTML = '<img src="' + data_uri + '"/>';
            });
        }

        function preview_snapshot() {
            // freeze camera so user can preview pic
            Webcam.freeze();
            // swap button sets
            $('#pre_take_buttons').css('display', 'none');
            $('#post_take_buttons').css('display', '');
        }

        function cancel_preview() {
            // cancel preview freeze and return to live camera feed
            Webcam.unfreeze();

            // swap buttons back
            $('#pre_take_buttons').css('display', '');
            $('#post_take_buttons').css('display', 'none');
        }

        function sendPhoto(img){


            $.ajax({
                type: "POST",
                url: '/app/camera/',
                data: {image: img, username: $('.username').text()},
                dataType: 'JSON',
                success: function(data){
                    console.log(data)
                }

            });
        }


        function save_photo() {
            // actually snap photo (from preview freeze) and display it
            Webcam.snap(function (data_uri) {
                // display results in page
                document.getElementById('my_result').innerHTML =
                        '<h1>Here is your image:</h1>' +
                        '<img src="' + data_uri + '"/>';

                // swap buttons back
                document.getElementById('pre_take_buttons').style.display = '';
                document.getElementById('post_take_buttons').style.display = 'none';
                sendPhoto(data_uri)


            })
        }





    </script>

    {#    <a href="javascript:void(take_snapshot())">Take Snapshot</a>#}
{% endblock %}