{% extends 'psoriassist/base.html' %}
{% load staticfiles %}
{% block js %}
    <script src={% static 'js/webcam.js' %}></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href={% static 'css/take_photo.css' %}>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-md-offset-4">
                <div class="photo" id="my_camera" style="width:320px; height:240px;"></div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-4">
                    <div class="photo" id="my_result"></div>
                    <form>
                        <div id="pre_take_buttons">
                            <a class="take-photo btn btn-warning btn-rounded waves-effect waves-light" onClick="preview_snapshot()">Take Snapshot</a>
                        </div>
                        <div id="post_take_buttons" style="display:none">
                            <a class="take-photo btn btn-warning btn-rounded waves-effect waves-light" onClick="cancel_preview()">Take Another</a>
                            <a class="take-photo btn btn-warning btn-rounded waves-effect waves-light"  onClick="save_photo()">Save Photo</a>
                        </div>
                    </form>
                </div>
            </div>



        </div>

    </div>


    <script language="JavaScript">
        Webcam.attach( '#my_camera' );

        function take_snapshot() {
            Webcam.snap( function(data_uri) {
                document.getElementById('my_result').innerHTML = '<img src="'+data_uri+'"/>';
            } );
        }

        function preview_snapshot() {
            // freeze camera so user can preview pic
            Webcam.freeze();

            // swap button sets
            document.getElementById('pre_take_buttons').style.display = 'none';
            document.getElementById('post_take_buttons').style.display = '';
        }

        function cancel_preview() {
            // cancel preview freeze and return to live camera feed
            Webcam.unfreeze();

            // swap buttons back
            document.getElementById('pre_take_buttons').style.display = '';
            document.getElementById('post_take_buttons').style.display = 'none';
        }

        function save_photo() {
            // actually snap photo (from preview freeze) and display it
            Webcam.snap( function(data_uri) {
                // display results in page
                document.getElementById('my_result').innerHTML =
                        '<h1>Here is your image:</h1>' +
                        '<img src="'+data_uri+'"/>';

                // swap buttons back
                document.getElementById('pre_take_buttons').style.display = '';
                document.getElementById('post_take_buttons').style.display = 'none';
            } );
        }


    </script>

    {#    <a href="javascript:void(take_snapshot())">Take Snapshot</a>#}
{% endblock %}