{% extends 'psoriassist/base.html' %}
{% load staticfiles %}
{% block html %}
<html style="overflow: hidden;" lang="{{ LANGUAGE_CODE }}">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href={% static 'css/telemed.css' %}>
{% endblock %}
{% block js %}
    <script src={% static 'js/webcam.js' %}></script>
    <script src={% static 'js/webcam_config.js' %}></script>
{% endblock %}



{% block body %}

    <div class="container cont"><a href='{% url 'psoriassist:index' %}' style="float: right; margin-top: 45px;" class="btn btn-success waves-effect waves-light conversation">Back to Chat</a>
        <div class="row video-cont">
            <div class="col-md-8 col-md-offset-1">
                <div class="conference-call">
                    <video class="doctor" autoplay src={% static 'videos/doctorchat.mp4' %}></video>
                    <div class="photo" id="my_camera"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


