{% extends 'psoriassist/base.html' %}
{% load staticfiles %}
{% block js %}
    <script src={% static 'js/welcome.js' %}></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href={% static 'css/welcome.css' %}>
{% endblock %}

{% block body %}
    <div id="main-container" class="container">
        <div id="1" class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="screen-wrapper">
                    <p title="welcome" class="animated zoomIn msg conversation" data-type="computer" id="first">WELCOME
                        BACK, MICAH!</p>

                    <p title="welcome" class="animated zoomIn msg conversation" data-type="computer" id="second">How are
                        you doing today? Did you sleep well last night? </p>

                    <p title="welcome" class="animated zoomIn msg" id="first">WELCOME BACK, MICAH!</p>

                    <p title="welcome" class="animated zoomIn msg" id="second">How are you doing today? Did you sleep
                        well last night? </p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}