{% extends 'psoriassist/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href={% static 'css/welcome.css' %}>
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="header-cont">
            <h2>Your chat with Jarvis</h2>
        </div>

    <div id="main-container m" class="container">
        <div id="1" class="row firstRow">
            <div class="col-md-8 col-md-offset-2">
                <div class="screen-wrapper">

                </div>
            </div>
        </div>
    </div>
    {% else %}
    <p>You must be authenticated</p>
    {% endif %}

    <div id="bottom"></div>

{% endblock %}
{% block js %}
    <script src={% static 'js/topics.js' %}></script>
    <script src="/path/to/js.cookie.js"></script>
{% endblock %}
