{% extends 'psoriassist/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href={% static 'css/welcome.css' %}>
{% endblock %}

{% block body %}
    <div id="main-container" class="container">
        <div id="1" class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="screen-wrapper">

                </div>
            </div>
        </div>
    </div>



{% endblock %}
{% block js %}
    <script src={% static 'js/topics.js' %}></script>
    <script src="/path/to/js.cookie.js"></script>
{% endblock %}
